<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="SQLConStr" connectionString='Data Source=DESKTOP-PRK2M5P;Initial Catalog=Lotto;Persist Security Info=True;User ID=lotto_j;Password=1234'/>
  </connectionStrings>
</configuration>